<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261624486383-d6qghe1m8ijq1hm46gj5b29a9mfgpjha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261624486383-d6qghe1m8ijq1hm46gj5b29a9mfgpjha</string>
	<key>API_KEY</key>
	<string>AIzaSyANsMP65x7hg2bmp0VBZQcD6Xu1m9tljCU</string>
	<key>GCM_SENDER_ID</key>
	<string>261624486383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Arwa-macbook-pro.BeProductive</string>
	<key>PROJECT_ID</key>
	<string>be-productive-6aaa4</string>
	<key>STORAGE_BUCKET</key>
	<string>be-productive-6aaa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261624486383:ios:d1218fac8a502f37a13e1a</string>
</dict>
</plist>