<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537953032620-3v3qquuee8t0bv4ihjpajo2511omtclu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537953032620-3v3qquuee8t0bv4ihjpajo2511omtclu</string>
	<key>API_KEY</key>
	<string>AIzaSyDm-b3ybCA13cuMLkstufcVtikuQzxVaEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>537953032620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Arwa-macbook-pro.BeProductive</string>
	<key>PROJECT_ID</key>
	<string>beproductive-6f077</string>
	<key>STORAGE_BUCKET</key>
	<string>beproductive-6f077.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537953032620:ios:d75e510094789118ee8209</string>
</dict>
</plist>