<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482046305679-vobku0rd5ri4kfgph2320i4pgnuuf06m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482046305679-vobku0rd5ri4kfgph2320i4pgnuuf06m</string>
	<key>API_KEY</key>
	<string>AIzaSyBlgMBsH6saFvUPFvUoK0EZaklQ6vz5i4A</string>
	<key>GCM_SENDER_ID</key>
	<string>482046305679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Arwa-macbook-pro.BeProductive</string>
	<key>PROJECT_ID</key>
	<string>beproductive-75031</string>
	<key>STORAGE_BUCKET</key>
	<string>beproductive-75031.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482046305679:ios:53aa466e582dcd4225d7fa</string>
</dict>
</plist>